.avatar{
    border-radius: 100%;
}

.color{
    /*background-image: linear-gradient(90deg, rgb(33, 37, 41), rgb(109, 122, 134),rgb(33, 37, 41));*/
    background-color: rgba(33, 37, 41, 0.6);
    color: white;
}

.hcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: rgba(18, 21, 23,0.8);
}

.radioBoton{
    border-radius: 0px;
}

.navbarFixed{
    position: fixed;
    width: 100%;
    top: 0;
    opacity: 0.9;
    box-shadow: 0px 0px 7px black;
}

.divEspacio{
    height: 100px;
}

.redondeoSuperior{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.redondeoInferior{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.footerColor{
    background-color: #212529;
    width: 100%;
    height: 115px;
    box-shadow: 0px 0px 10px black;    
}


/*Hacer màs amcho el container*/

/* #contenedor{



} */

.logo{
    width: 100px;
    height: 60px;
}

.logoFooter{
    width: 35px;
    height: 35px;
}

.logoFooterUNAH{
    width: 65px;
    height: 40px;
}

.texto{
    text-align: justify;
}

.perfil{
    height: 170px;
    width: 170px;
    border-radius: 5px;
}

.funcion{
    color: #dcdcaa;
}

.fotoFormulario{
    height: 250px;
    width: 170px;
    border-radius: 5px;
}

.footerTextColor{

    color: #6c757d;

}

.footerColorAcciones{

    transition: .3s ease all;

}

.footerTextColor:hover{

    color: #fff;
       
}

/*Filtros para logos*/

.logoFiltros{
    transition: .3s ease all;
    filter: opacity(0.6) drop-shadow(0 0 0px rgba(0,0,0,0)); 
}

.logoFiltros:hover{
    filter: opacity(0.6) drop-shadow(0 0 0px white); 
}

.logo:hover{
    filter: opacity(1) drop-shadow(0 0 5px white); 
}

.git{
    height: 50px;
    width: 60px;
    transition: 0.5s ease all;
}

.gitBorder{
    filter: opacity(0.3) drop-shadow(0 0 0px white);
}

.git:hover{
    transition: 0.3s ease all;
    filter: opacity(1) drop-shadow(0 0 5px white); 
}






